body{
    background-color: rgb(102, 183, 254);
    font: normal 15pt arial;
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.436);
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}

#res{
    text-align: center;
}