body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d0ecea;
    margin: 0;
}

header {
    font-size: large;
    text-align: center;
    color: #ffefd3;
    background-color: #8b7a5e;
    padding: 5px;
    width: 100%;
    margin: 0;
}

.registro {
    background-color: #fffee4;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 2px;
    color: #8b7a5e;
    margin: auto;
    width: 700px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.359);
}

input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 30px;
}

textarea {
    width: 100%;
    border-radius: 10px;
}

.agenda {
    width: 1400px;
    border-collapse: collapse;
    margin: 80px auto;
    table-layout: fixed;
}

th, td{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

th{
    background-color: #8b7a5e;
    color: #ffefd3;
}

td{
    background-color: #fffee4;
    color: #8b7a5e;
}

footer {
    padding: 20 px;
    margin-top: 30px;
    text-align: center;
    margin: auto;
}